body {
  font-family: Karla;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  height:65px;
  color: white;
  padding: 20px;
  background: linear-gradient(90deg,#672280 1.18%,#A626D3 100%);
}

.logo {
  height: 100%;
  margin-right: 6px;
}

.nav-h2 {
  font-size: 1.25rem;
  margin-right: auto;
}

.nav-h4 {
  font-size: 0.75rem;
  font-weight: 500;
}